@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";


}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.d Departmanı</li>
</ol>

<table class="table table-hover">
    <tr>
   
        <th>Personel </th>
        <th>Satışlar</th>
    </tr>
    @foreach(var x in Model)
            {
                <tr>
                   
                    <td>@x.PersonelAd @x.PersonelSoyad</td>
                    <td><a href="/Departman/DepartmanPersonelSatis/@x.Personelid" class="btn btn-default" style="background-color:salmon">Satışlar</a></td>
                </tr>
            }
</table>
